@font-face {
   font-family: "Verdana";
   src: local(Verdana),
        url(../fonts/Verdana.woff) format('woff');
 }
 @font-face {
    font-family: "Consolas";
    src: local(Consolas),
         url(../fonts/Consolas.woff) format('woff');
  }
 [type=submit] {
   background-color: inherit;
   color: inherit;
   border-style: solid;
   border-color: #54575f;
   padding: 3px 7px
 }
 button {
   background-color: inherit;
   color: inherit;
   border-style: solid;
   border-color: #54575f;
   padding: 3px 7px
 }
 html, body {
   height: 100%;
   background-color: #1d1d1d;
   color: #cccccc;
   margin: 0;
   font-family: "Verdana";
 }
 input {
   box-sizing: border-box;
   border: none;
   padding: 3px 2px;
   background-color: #54575f;
 }

 #topnav{
   display: flex;
   padding: 0px 20px 0px 20px;
   justify-content: space-between;
   align-items: center;
 }
 #userid {
   display: inline-block;
   font-size: 14px;
   margin: 9px 2px;
 }
 #topnav h2 {
   font-size: 20px;
   color: inherit;
   display: inline-block;
 }
 #loginbtn {
   font-size: 15px;
   width:  90px;
   margin-left: 3px;
   padding: 8px 18px;
   border: 2px solid #995c00;
   border-radius: 2px;
   color: inherit;
   float: right;
   background-color: inherit;
 }
 #loginbtn span {
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }
 #loginbtn span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -11px;
   transition: 0.5s;
 }
 #loginbtn:hover span {
   padding-right: 15px;
 }
 #loginbtn:hover span:after {
   opacity: 1;
   right: 0;
 }
 #sidenavWrapper{
   width: 200px;
   min-height:90%;
   height: 90%;
   background-color: #44464c;
   position:absolute;
   left:0;
 }
 #sidenav {
   width: 200px;
 }
 #sidenav a {
   display: block;
   font-size: 20px;
   text-decoration: none;
   font-family: "Consolas";
   color: black;
   padding: 4px 1px 4px 16px;
 }
 #sidenav a.active, #sidenav a:hover {
   background-color: #1d1d1d;
   color: #a0a4ab;
 }
 #main {
   position: absolute;
   left:200px;
   padding: 0px 16px 0px 16px;
 }

 .dataframe tr:nth-child(odd) {
   background-color: #2f3537;
 }
 .dataframe tr, td {
   padding: 5px;
 }
 .dataframe th {
   padding: 5px 10px;
 }
 .dataframe caption {
   text-align: left;
 }

 .tab-container{
   position: relative;
   min-height: 200px;
   clear: both;
   margin: 25px 0;
 }
 .tab {
   float:left;
 }
 .tab label {
   background: #44464c;
   padding: 10px 15px;
   margin-left: -1px;
   position: relative;
   left: 1px;
   z-index: 0;
   color: black;
   top: 1px;
 }
 .tab [type=radio] {
   display: none;
 }
 .tab-content {
   display: none;
   position: absolute;
   top: 29px;
   left: 0;
   z-index: 1;
   background: #1d1d1d;
   right: -1px;
   padding: 20px;
   border-width: 1px 1px 1px 1px;
   border-color: grey;
   border-style: solid;
 }
 [type=radio]:checked ~ label {
   background: #1d1d1d;
   color: #cccccc;
   z-index: 2;
   border-width: 1px 1px 0px 1px;
   border-color: grey;
   border-style: solid;
 }
 [type=radio]:checked ~ label ~ .tab-content {
   display: flex;
 }
 .container{
   border: 1px solid #D0D0D0;
 }
 .button-grey{
   background-color: #54575f;
   border: 0px;
   padding: 8px 14px;
 }
 .warn{
   color:red;
 }
 .top {
     padding: 20px;
     font-size: 30px;
     text-align: center;
 }
 .space-out{
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 .content {
     float: left;
     padding: 15px;
 }
 .button-danger {

 }
 .footer {
     position: absolute;
     bottom: 0px;
     text-align: center;
     padding: 10px;
 }
